.profile-field {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 0.5rem;
    padding: 1rem;
  }
  
  .profile-label {
    color: #0d6efd; /* Bootstrap Primary Blue */
    font-weight: 550;
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
  }
  
  .profile-value {
    color: #213d57; /* Bootstrap Gray text */
    font-size: 0.95rem;
  }
  .blurred-image {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }
  
  .blurred-image:hover {
    filter: blur(0px);
  }
  