*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:"Lato";
  
  /* font-family: "Hiragino Mincho ProN" !; */
}

  .bgcolr{
    background: #e82c2c;
    background: linear-gradient(90deg, rgba(232, 44, 44, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

  }
